*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #f5f5f5;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
}
.clr
{
    clear: both;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
{
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6
{
    margin: 0;
}
a:link, a:visited
{
    outline: none;
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
fieldset, a img, img
{
    border: none;
}
:focus
{
    outline: none;
}
.hidden
{
    display: none;
}
hr {
    display: none;
}
#wrapper
{
    /*overflow: hidden;*/
    position: absolute;
    min-height: 100%;
    width: 100%;
    z-index: 1;
}
#wrapper-in {
    top: 0;
    left: 0;
    position: relative;
    /*overflow: hidden;*/
    width: 100%;
    z-index: 99;
}
.container
{
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}
/*======================================================HEADER===========================================*/
#wrapper #header
{
    background-color: #f5f5f5;
    width: 100%;
    z-index: 10;
}
/*==============logo=============*/
.logo {
    width: 131px;
}
.logo a{
    display: block;
    width: 100%;
}
#header .logo {
    float: left;
    margin-bottom: 18px;
    margin-top: 27px;
    margin-left: 22px;
}
/*=====================*/
.nameco {
    color: #78ae1d;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 32px;
    white-space: nowrap;
}
.nameco strong {
    color: #ff6015;
    display: block;
    font-size: 36px;
    font-weight: 900;
    padding-left: 162px;
}
#header .nameco {
    float: left;
    margin-top: 20px;
    margin-left: 52px;
}
#header.header-sroll {
        -webkit-box-shadow: 0 3px 5px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    0 3px 5px #ccc;  /* Firefox 3.5 - 3.6 */
        box-shadow:         0 3px 5px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
        position: fixed;
    }
    #header.header-sroll .header-top {
        display: none;
    }
#header .header-top
{
    background: url(../images/header-bg.jpg) no-repeat 695px bottom;
    height: 100%;
}
.header-right
{
    height: 36px;
    width: 870px;
    float: right;
    padding-left: 70px;
}
.header-right .languge
{
    float: right;
    text-align: center;
    vertical-align: top;
    margin-top: 26px;
    width: 102px;
}
.languge a
{
    display: inline-block;
    vertical-align: top;
    margin: 0 2px;
}
/*==========menu========*/
.wrapper-menu {
    background: url('../images/bg-menu.png') repeat-x left top;
    left: 0;
    top: 0;
    position: relative;
    width: 100%;
    z-index: 99;
}
#menu
{
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
#menu > li
{
    background: url(../images/menu-line.png) repeat-y right top;
    float: left;
    padding-left: 2px;
    position: relative;
    height: 45px;
}
#menu > li > a
{
    color: #fff;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 700;
    /*padding: 0 12px;*/
    white-space: nowrap;
    text-transform: uppercase;
    text-align: center;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
        position: relative;
        margin-top: -5px;
    line-height: 50px;
    height: 50px;
}
#menu > li:last-child {
    background: none;
}
#menu a:hover, #menu a:visited, #menu a:focus, 
#menu > li.active > a, #menu > li:hover > a, #menu > li > a:hover  {
    text-decoration: none;
    background-color: #79c830;
}
#menu .menu-down {
    display: block;
    top: 100%;
    left: 0; 
    position: absolute;
    width:0px;
	  height:0px;
	  border-left: 50px solid transparent;
	  border-right: 50px solid transparent;
	  border-top: 20px solid #79c830; /* Tam giác phía trên được đổ màu */
      visibility: hidden;
}
#menu .menu-up {
    display: block;
    top: 0;
    left: 100%; 
    margin-left: 0;
    position: absolute;
    width:0px;
	  height:0px;
	  border-right: 7px solid transparent;
	  border-bottom: 5px solid #55901f; /* Tam giác phía trên được đổ màu */
      visibility: hidden;
}
#menu > li > a:hover > .menu-down, #menu > li:hover > a > .menu-down, #menu > li.active > a > .menu-down, 
#menu > li > a:hover > .menu-up, #menu > li:hover > a > .menu-up, #menu > li.active > a > .menu-up
{
    visibility: visible;
}
#menu ul
{
    border-top: none;
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    width: 200px;
}
#menu ul li
{
    border-bottom: solid 1px #558a1b;
    background-color: #79c830;
}
#menu ul li a
{
    display: block;
    font-size: 14px;
    font-weight: 900;
    line-height: 20px;
    padding: 6px 15px;
    color: #fff;
}
#menu > li > ul
{
    left: 0;
    top: 100%;
    padding-top: 25px;
}
#menu ul ul
{
    left: 100%;
    top: 0;
}
#menu ul li > a {
     background-color: #79c830;
}
#menu ul li > a:hover, #menu ul li:hover > a, #menu ul li.active > a
{
    background-color: #79c830;
}
/*======================================================MAIN=============================================*/
#mainContent {
    background-color: #f5f5f5;
    position: relative;
    /*overflow: hidden;*/
    width: 100%;
    z-index: 1;
}
/*=======================*/
#wrapParent {
    background-color: #fff;
    padding: 15px 0;
    position: relative;
    width: 100%;
    z-index:1;
}
.parent-box {
    display: block;
    margin: 0 5px;
}
.parent-box img {
    display: block;
    width: 100%;
}
/*====banner====*/
#banner {
    position: relative;
    width: 100%;
    z-index: 1;
}
/*====service====*/
.wrapper-service {
    overflow: hidden;
    width: 100%;
    margin: 30px 0;
}
.service-box {
    color: #282828;
    font-size: 13px;
    line-height: 22px;
    font-weight: 300;
    overflow: hidden;
    padding: 10px 20px;
    width: 50%;
    float: left;
}
.service-box .service-img {
    display: block;
    float: left;
    width: 242px;
    height: 242px;
    border-radius: 50%;
}
.service-box .service-img img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.service-box .service-content {
    overflow: hidden;
    padding-left: 25px;
}
.service-box .service-name a {
    color: #78ae1d;
    display: block;
    font-size: 22px;
    font-weight: 700;
    line-height: 40px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.service-box .service-name strong {
    font-size: 36px;
    font-weight: 800;
}
.service-box .service-name span {
    font-weight: normal;
    display: block;
}
.service-box .description {
    width: 100%;
    overflow: hidden;
    font-size: 14px;
    line-height: 24px;
    color: #484848;
    font-weight: 500;
}
/*====button services===*/
.button-services {
    background: url("../images/line-1.png") repeat-x left center;
    margin-bottom: 36px;
    text-align: center;
    position: relative;
}
.button-services a {
    background-color: #ff6015;
    display: inline-block;
    padding: 0 50px;
    line-height: 50px;
    border-radius: 18px;
    font-size: 18px;
    color: #fff;
}
.button-services a:hover {
    text-decoration: none;
} 
.button-services .bottom-ser {
    background: url('../images/bottom-services.png') no-repeat center bottom;
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    top: 45px;
}
/*====list new====*/
.wrapper-news {
    float: left;
    width: 376px;
    margin: 0 12px 67px;
    background-color: #fff;
    box-shadow: #dcdcdc 2px 4px 5px;
    -moz-border-radius: 2px 4px 5px; /* Firefox */
    -webkit-border-radius: 2px 4px 5px; /* Safari and Chrome */
}
.news-tblist {
    margin-bottom: 70px;
}
.news-tblist .news-box {
    border-bottom: solid 1px #d9d9d9;
    padding: 10px 17px;
}
.news-name a {
    color: #282828;
    display: block;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    padding: 8px 0 5px;
}
.news-box{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.news-box .news-img, 
.news-img img
{
    display: block;
    position: relative;
    width: 100%;
    z-index: 1;
    padding: 10px 0;
}
.news-box {
    color: #484848;
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
}
.news-box:hover .news-name a, .news-name a:hover {
    text-decoration: none;
}
.news-tb .news-box:hover .news-name a, .news-tb .news-name a:hover {
    color: #ea0000;
}
.news-box .desription {
    overflow: hidden;
    width: 100%;
}
.news-box .author {
    color: #989898;
    font-size: 15px;
    line-height: 24px;
    font-style: italic;
    margin-top: 10px;
}
.news-tit{
    overflow: hidden;
    margin-bottom: 10px;
    width: 100%;
    background: #f5f5f5 url('../images/line-news.png') no-repeat left top;
}
.news-tit a {
    display: block;
    color: #77b930;
    text-transform: uppercase;
    float: left;
    font-size: 22px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 5px;
    width: 100%;
}
.news-tit a:hover, .more-details a:hover {
    text-decoration: none;
}
.list-news {
    list-style: none;
    padding: 15px;
    margin: 0;
    width: 100%;
}
.list-news a {
    color: #629e20;
    display: block;
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
    padding-left: 22px;
    padding-bottom: 2px;
    position: relative;
}
.list-news .fa {
    display: block;
    font-size: 11px;
    height: 22px;
    line-height: 22px;
    left: 4px;
    top: 0;
    position: absolute;
    width: 22px;
}
.more-details {
    overflow: hidden;
    width: 100%;
}
.more-details a {
    color: #a0a0a0;
    display: block;
    float: left;
    font-size: 15px;
    font-weight: 300;
    line-height: 50px;
    height: 50px;
    text-transform: uppercase;
}
/*====about====*/
#site
{
    padding: 15px 0;
    width: 100%;
}
#site, #site a, #site > span
{
    color: #262626;
    font-size: 11px;
    margin: 0 3px;
    line-height: 18px;
}
#site a span {
    color: #222;
    padding-left: 3px;
}
#site > span
{
    color: #90d043;
}
#site .home {
    margin-left: 0;
}
/*========*/
#colAside {
    float: left;
    position: relative;
    padding-bottom: 30px;
    width: 255px;
    z-index: 10;
}
.menu-about, .menu-about ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}
.menu-about li {
    position: relative;
    margin-bottom: 5px;
}
.menu-about > li > a {
    background-color: #fff;
    color: #595959;
    font-size: 16px;
    line-height: 30px;
    padding: 6px 20px;
    border-radius: 0 20px 20px 0;
    -webkit-border-radius: 0 20px 20px 0;
    -moz-border-radius: 0 20px 20px 0;
    border: 1px solid #d3d3d3;
    border-left: 3px solid #d3d3d3;
}
.menu-about > li > a:hover, .menu-about > li:hover > a, .menu-about > li.active > a 
{
    text-decoration: none;
    background-color: #ff6015;
    border: 1px solid #ff6015;
    border-left: 3px solid #e64701;
    color: #fff;
}
.menu-about a {
    display: block;
    font-weight: 600;
    position: relative;
}
/*===========*/
#colMain {
    overflow: hidden;
    padding-left: 55px;
    position: relative;
    z-index: 1;
}
.title {
    color: #90d043;
    float: left;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    width: 100%;
}
.wrapper-text {
    margin: 55px 0;
    color: #282828;
    overflow: hidden;
    line-height: 24px;
    width: 100%;
}
.wrapper-text p {
    font-size: 14px;
    line-height: 30px;
}
.wrapper-text span {
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 5px;
    color: #838383;
}
.list-about, .list-csvc {
    display: block;
    margin: 0;
    padding-left: 25px;
    list-style: none;
}
.list-about li {
    padding: 3px 0;
}
.head {
    background-color: #90d043;
    overflow: hidden;
    padding: 10px 15px;
    margin-bottom: 30px;
}
.head .title-about {
    color: #fff;
    float: left;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    width: auto;
    text-transform: uppercase;
}
.list-csvc li {
    padding-left: 30px;
    background: url('../images/icon-csvc.png') no-repeat left 15px;
}
.tb-cdh {
    border: 1px solid #d7d7d7; 
    text-align: left; 
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
}
.tb-cdh td, .tb-cdh th {
    border: 1px solid #d7d7d7;
    padding: 10px;
    font-size: 14px;
}
.tb-cdh td:last-child, .tb-cdh th:last-child {
    width: 70%;
}
.tb-cdh th {
    background-color: #d5efb5;
    border: 1px solid #99bd6e;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 800;
}
/*=======product=========*/
.pro-box, .event-box {
    color: #000;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    overflow: hidden;
    width: 100%;
    margin-bottom: 50px;
}
.pro-box .pro-img, .event-box .event-img {
    display: block;
    float: left;
    width: 313px;
}
.pro-box .pro-img img, .event-box .event-img img {
    display: block;
    width: 100%;
}
.pro-box  .pro-content, .event-box  .event-content {
    overflow: hidden;
    padding-left: 30px;
}
/*====events====*/
.event-box .event-img {
    width: 284px;
}
.event-box  .event-content {
    font-weight: 600;
}
/*====project====*/
.row-project {
    overflow: hidden;
    width: 100%;
    position: relative;
    left: -15px;
    width: 1230px
}
.row-project .col-box {
    float: left;
    width: 585px;
    margin: 0 15px 30px;
}
.box-in {
    /*padding: 35px 15px 55px;*/
}
.logo-img {
    display: inline-block;
    font-size: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
}
.logo-img img {
    border: 1px solid #b7b7b7;
    display: block;
    width: 100%;
}
.title-sui {
    overflow: hidden;
}
.title-sui a {
    color: #282828;
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    border: 1px solid #cccccc;
}
.title-sui a:hover {
    text-decoration: none;
}
/*====pager====*/
.pager
{
    text-align: right;
    vertical-align: top;
    font-size: 0;
    margin: 0 0 10px;
    width: 100%;
}
.pager a, .pager span
{
    background: #f5f5f5;
    color: #151515;
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    text-align: center;
    height: 24px;
    line-height: 24px;
    margin-left: 3px;
    vertical-align: top;
    width: 24px;
}
.pager a:hover, .pager a.current
{
    background-color: #90d043;
    border-color: #000;
    color: #fff;
    text-decoration: none;
}
.pager .first, .pager .last
{
    font-size: 10px;
}
.pager .prev:hover, .pager .next:hover, .pager .first:hover, .pager .last:hover
{
    background-color: #fff;
    color: #c30e17;
}
/*========scroltop=======*/
#sroltop
{
    bottom: 30px;
    right: 0;
    position: fixed;
    height: 40px;
    width: 40px;
    z-index: 999;
}
#sroltop a
{
    background-color: #e9121b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 28px;
    height: 100%;
    text-align: center;
    line-height: 44px;
    width: 100%;
}
#sroltop a
{
    display: block;
}
/*======================================================FOOTER===========================================*/
#footer
{
    background-color: #79c830;
    padding: 20px 0;
    position: relative;
    width: 100%;
    z-index: 1;
}
#footer, #footer a
{
    color: #fff;
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
}
#footer h4
{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}
#footer p
{
    margin-bottom: 0;
    position: relative;
}
#footer span
{
    float: left;
    padding: 0 5px;
}
#footer .icon-p {
    display: block;
    vertical-align: top;
    left: 0;
    top: 5px;
    position: relative;
    float: left;
    text-align: center;
    width: 20px;
}
